/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.navbar
{
  position: absolute;
  top: 0;
  height: 9%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black;
  z-index: 999;
  border-bottom: 1px solid white;
}

/* .navbar > * 
{
    flex: 1;
} */

.navbar-core
{ 
  width: 23.3%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 22px;
  height: 40px;
}

.navbar-logo
{ 
  width: 10%;
  height: 70%; 
}

.logo-crest
{
  height: 90%;
  width: auto;
}

/* navbar */
.navbar-select 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  width: 30%;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 10px;
}


.navbar-option
{
  padding: 0 30px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 18px;
}
  
.navbar-select:focus .navbar-option 
{ 
  visibility: visible; 
  position: relative;
  pointer-events: all;
}

.navbar-select:focus 
{ 
  height: auto; 
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-input 
{
  opacity:0;
  position:absolute;
  left: -99999px;
}

.navbar-input:checked + label 
{
  position:relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  visibility: visible;
}

.navbar-input:checked + label:after 
{
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  z-index:3;
}

.navbar-input:checked + label:before 
{
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
}

.navbar-select-input
{
  position: relative;
  z-index: 100;
  pointer-events: all;
}

/* */



.link
{
  text-decoration: none;
  color: white
}



.navbar-title
{
  width: 33.3%;
  height: 100%;
}

.title-crest
{
  width: 33.3%;
  height: 60%;
}

.navbar-button 
{ 
  width: 33.3%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-button-core
{ 
  height: 100%;
  width: 70%; 
  -webkit-box-pack: space-evenly; 
      -ms-flex-pack: space-evenly; 
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button
{
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
}

.button:hover{ -webkit-transform: scale(0.95, 0.95); -ms-transform: scale(0.95, 0.95); transform: scale(0.95, 0.95); }

.market-button
{ 
  border: 1px solid #fff!important;
  border-radius: 10px!important;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 50%;
}

.dapp-button
{
  background: transparent;
  background-image: -webkit-gradient(linear,left top, right top,from(#ff1a88),to(#0085ff)),-webkit-gradient(linear,left top, right top,from(#ff1a88),to(#0085ff));
  background-image: -o-linear-gradient(left,#ff1a88,#0085ff),-o-linear-gradient(left,#ff1a88,#0085ff);
  background-image: linear-gradient(90deg,#ff1a88,#0085ff),linear-gradient(90deg,#ff1a88,#0085ff);
  background-position: 0 0,0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  border: 0;
  border-left: 2px solid rgba(255,26,136,.8);
  border-radius: 10px;
  border-right: 2px solid #0085ff;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 40%;
}

.navbar-address-core
{
  height: 100%;
  width: 50%;
}

.navbar-address
{
  text-align: center;
  word-break: break-all;
}

.button-market-title
{
  margin: 0;
  font-weight: 500;
}