.mobile-navbar-base
{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-around;
}

.mobile-navbar-card
{
    height: 90%;
    width: 20%;
}

.mobile-navbar-link
{
    height: 100%;
    width: 100%;
}

.mobile-navbar-icon
{
    position: relative;
    height: 40%;
    width: 40%;
    color: black;
    display: block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}



#current
{
    position: relative;
    transform: translatey(-55%);
    border-radius: 50%;
    z-index: 2;
    background: black;
}

/* 
#current:before {
    position: absolute;
    z-index: -2;
    content: "";
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: black;
    right: -5%;
  }
  
  #current:after {
    position: absolute;
    z-index: -2;
    content: "";
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: black;
    left: -5%;
  } */