#popup-root:nth-child(1)
{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.popup-overlay
{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.popup-content
{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black !important;
    border: 0;
    border-right: 3px solid rgb(0, 133, 255) !important;
    border-left: 3px solid rgba(255, 26, 136, 0.8) !important;
    background-image: linear-gradient(90deg, rgb(255, 26, 136), #0085FF),linear-gradient(90deg, rgb(255, 26, 136), #00FBBF) !important;
    background-size: 100% 2px !important;
    background-position: 0 0, 0 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 68px !important;
    color: white;
    font-family: "Inter-Bold";
    -webkit-animation: scale-up-center  0.25s cubic-bezier(0.390, 0.575, 1, 1.000) both;
    animation: scale-up-center  0.25s cubic-bezier(0.390, 0.575, 1, 1.000) both;
}

.shop-items-button
{
    height: 70%;
    width: 60%;
    border: 0;
    border-right: 2px solid rgb(0, 133, 255);
    border-left: 2px solid rgba(255, 26, 136, 0.8);
    background-image: linear-gradient(90deg, #ff1a88, #0085FF), linear-gradient(90deg, #ff1a88, #0085FF);
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 22px;
    font-size: 22px;
    font-weight: 900;
}

.buy-popup-base
{
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.buy-popup-head
{
    height: 90%;
    width: 50%;
    justify-content: space-between;
}

.buy-popup-head-core 
{
    height: 30%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.buy-popup-head-title
{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.buy-popup-head-exchange
{
    height: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.buy-popup-exchange-core
{
    height: 50%;
    width: 100%;
    gap: 1em;
}

.buy-popup-exchange-title
{
    font-size: 20px;
    font-weight: 800;
}


.buy-popup-exchange-desc
{
    font-size: 18px;
    font-weight: 500;
}

.buy-popup-exchange-separator
{
    width: 2px;
    height: 60%;
    background: white;
}

.buy-popup-base-core
{
    height: 40%;
    width: 100%;
    gap: 10px;
}
.buy-popup-input-core
{
    height: 50%;
    width: 100%;
    gap: 1em;
}

.buy-popup-input, .buy-popup-balance
{
    all: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 80%;
    font-size: 18px !important;
    font-weight: 900;
    margin: 0;
    padding: 0;
    border: 0;
    border-right: 2px solid rgb(0, 133, 255) !important;
    border-left: 2px solid rgba(255, 26, 136, 0.8) !important;
    background-image: linear-gradient(90deg, #ff1a88, #0085FF), linear-gradient(90deg, #ff1a88, #0085FF) !important;
    background-size: 100% 2px !important;
    background-position: 0 0, 0 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 22px !important;
    background: transparent;
    color: white;
    text-align: center;
}

.buy-popup-input:focus
{
    outline: 0;
}

.buy-popup-input-head, .buy-popup-balance-head
{
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.buy-popup-input-title, .buy-popup-balance-title
{
    font-size: 14px;
    font-weight: 800;
    font-family: "Inter-Bold";
    text-transform: uppercase;
}

.buy-popup-input-desc, .buy-popup-balance-desc
{
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter-Regular";
    color: rgba(194, 194, 194, 0.8);
}

.buy-popup-button-core
{
    height: 10%;
    width: 100%;
}

.buy-popup-button
{
    height: 100%;
    width: 40%;
    font-size: 18px;
    border: 0;
    border-right: 2px solid rgb(0, 133, 255) !important;
    border-left: 2px solid rgba(255, 26, 136, 0.8) !important;
    background-image: linear-gradient(90deg, #ff1a88, #0085FF), linear-gradient(90deg, #ff1a88, #0085FF) !important;
    background-size: 100% 2px !important;
    background-position: 0 0, 0 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
    font-weight: 900;
}



.buy-popup-video-core
{
    height: 80%;
    width: 40%;
}

.buy-popup-video
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#navbar
{
    all: unset;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background: black;
    width: 40%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 10px;

}
    
#navbar:hover{ transform: scale(0.95, 0.95); }