/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "inter-Regular";
  src: local("inter-Regular"),
   url(../font/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "inter-Bold";
  src: local("inter-Bold"),
   url(../font/Inter-Bold.ttf) format("truetype");
}


body 
{
  margin: 0;
  font-family: 'inter-Regular';
}


p, h1, h2, h3, h4, input, a, button { font-family: "inter-Regular"; }
.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.h1 { margin: 0; }
.unpadding { padding: 0;}
.unmargin { margin: 0;}
.border-gradient-bluePink
{
    border: 0px !important;
    background: rgba(0,0,0,0.0) !important;
    border: 0;
    border-right: 2px solid rgb(0, 133, 255) !important;
    border-left: 2px solid rgba(255, 26, 136, 0.8) !important;
    background-image: 
    -webkit-gradient(linear, left top, right top, from(#ff1a88), to(#0085FF)),
    -webkit-gradient(linear, left top, right top, from(#ff1a88), to(#0085FF)) !important;
    background-image: 
    -o-linear-gradient(left, #ff1a88, #0085FF),
    -o-linear-gradient(left, #ff1a88, #0085FF) !important;
    background-image: 
    linear-gradient(90deg, #ff1a88, #0085FF),
    linear-gradient(90deg, #ff1a88, #0085FF) !important;
    background-size: 100% 2px !important;
    background-position: 0 0, 0 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 14px !important;
}

.gradient-pink
{
  background: -webkit-linear-gradient(45deg, #FA00FF, #0047FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink-reverse
{
  background: -webkit-linear-gradient(45deg, #0047FF, #FA00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button
{
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
}

.no-margin { margin: 0; }
.no-padding { padding: 0; }



#WEB3_CONNECT_MODAL_ID
{
  position: relative;
  z-index: 999;
}

.web3modal-modal-card
{
  height: 40% !important;
  width: 40% !important;
  max-width: 40% !important;
  background: black !important;
  border: 0;
  border-right: 3px solid rgb(0, 133, 255) !important;
  border-left: 3px solid rgba(255, 26, 136, 0.8) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 26, 136)), to(#0085FF)),-webkit-gradient(linear, left top, right top, from(rgb(255, 26, 136)), to(#00FBBF)) !important;
  background-image: -o-linear-gradient(left, rgb(255, 26, 136), #0085FF),-o-linear-gradient(left, rgb(255, 26, 136), #00FBBF) !important;
  background-image: linear-gradient(90deg, rgb(255, 26, 136), #0085FF),linear-gradient(90deg, rgb(255, 26, 136), #00FBBF) !important;
  background-size: 100% 2px !important;
  background-position: 0 0, 0 100% !important;
  background-repeat: no-repeat !important;
  /* border-radius: 68px !important; */
  color: white;
  font-family: "Infos";
  -ms-grid-columns: none !important;
  grid-template-columns: none !important;
}


.web3modal-provider-container
{
  background: #0B0B0F !important;
  
  color: white;
  font-family: "Infos";
}

.web3modal-modal-hitbox
{
  background: rgba(37, 41, 46, 0.95);
}


.walletconnect-modal__base
{
  height: 61% !important;
  background: black !important;
  border: 0;
  border-right: 3px solid rgb(0, 133, 255) !important;
  border-left: 3px solid rgba(255, 26, 136, 0.8) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 26, 136)), to(#0085FF)),-webkit-gradient(linear, left top, right top, from(rgb(255, 26, 136)), to(#00FBBF)) !important;
  background-image: -o-linear-gradient(left, rgb(255, 26, 136), #0085FF),-o-linear-gradient(left, rgb(255, 26, 136), #00FBBF) !important;
  background-image: linear-gradient(90deg, rgb(255, 26, 136), #0085FF),linear-gradient(90deg, rgb(255, 26, 136), #00FBBF) !important;
  background-size: 100% 2px !important;
  background-position: 0 0, 0 100% !important;
  background-repeat: no-repeat !important;
}

.walletconnect-modal__mobile__toggle, .walletconnect-search__input
{
  background: #1f1f24 !important;
  color: white !important;
}

.walletconnect-modal__mobile__toggle_selector
{
  background: #2e2e37 !important;
}

.walletconnect-qrcode__text
{
  color: rgb(181 181 181 / 60%) !important;
}