/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 660px), only screen and (max-width: 660px) and (max-height: 660px) and (orientation: landscape) 
{
    .loading-bar-core { height: 100%; }
    .loading-bar-base { width: 80%; height: 25px;}
    .loading-bar
    {
        height: 80%;
        width: calc(95% / 13);
    }
}
@media only screen and (max-width: 1200px) and (min-width: 661px), only screen and (max-width: 1200px) and (min-width: 661px) and (max-height: 1200px) and (min-height: 661px) and (orientation: landscape)
{
    .loading-bar-core { height: 100%; }
    .loading-bar-base { width: 60%; height: 30px;}
    .loading-bar
    {
        height: 80%;
        width: calc(90% / 13);
    }
}