@media only screen and (max-width: 660px) 
{
    .loading-bar-core { height: 100%; }
    .loading-bar-base { width: 80%; height: 25px;}
    .loading-bar
    {
        height: 80%;
        width: calc(95% / 13);
    }
}
@media only screen and (max-width: 1500px) and (min-width: 661px) 
{
    .loading-bar-core { height: 100%; }
    .loading-bar-base { width: 60%; height: 30px;}
    .loading-bar
    {
        height: 80%;
        width: calc(90% / 13);
    }
}