.navbar-mobile-core
{
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background: black;
    z-index: 900;
}

.navbar-mobile-wallet-core
{
    height: 100%;
    width: 40%;
    justify-content: flex-end;
    padding-right: 20px;
}

.navbar-mobile-wallet-button
{
    height: 40%;
    width: auto;
    border: 0;
}

.navbar-mobile-wallet-img
{
    height: 100%;
    width: 100%;
}

#navbar-toggle 
{ 
    opacity: 0;  
    position: absolute;
    left: 0;
}
#navbar-toggle:checked + .navbar-mobile-label > .navbar-mobile-span { transform: rotate(45deg); }
#navbar-toggle:checked + .navbar-mobile-label > .navbar-mobile-span::before 
{
    top: 0;
    transform: rotate(0deg);
}
#navbar-toggle:checked + .navbar-mobile-label > .navbar-mobile-span::after 
{
    top: 0;
    transform: rotate(90deg);
}

#navbar-toggle:checked ~ .navbar-mobile { left: 0 !important; }

.navbar-mobile-label 
{
    position: absolute;
    left: 20px;
    width: 26px;
    cursor: pointer;
    z-index: 998;
}
.navbar-mobile-label > .navbar-mobile-span,
.navbar-mobile-label > .navbar-mobile-span::before,
.navbar-mobile-label > .navbar-mobile-span::after 
{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: lightgray;
    transition-duration: .25s;
    z-index: 999;

}
.navbar-mobile-label > .navbar-mobile-span::before 
{
    content: '';
    top: -8px;
}
.navbar-mobile-label > .navbar-mobile-span::after 
{
    content: '';
    top: 8px;
}

.navbar-mobile 
{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 997;
}

.navbar-mobile-item 
{
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.navbar-mobile-wallet-adress
{
    height: 100%;
    width: 50%;
}

.navbar-address
{
  text-align: center;
  word-break: break-all;
}

.navbar-mobile-item:hover { background: #CFD8DC; }